@model List<WebApp.Areas.Account.ViewModel.AuditLogViewModel>
@{
    ViewData["Title"] = "Audit Log";
}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Audit Log</h1>
    <div class="card">
        <div class="card-body">

            <div class="table-responsive" id="AuditLogTable">
                <table id="logTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>User</th>
                            <th>Type</th>
                            <th>Table</th>
                            <th> Old Values</th>
                            <th>New Values</th>
                            <th>Affected Columns</th>
                            <th> Action On</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @item.Id</td>
                                <td> @item.UserName</td>
                                <td> @item.Type</td>
                                <td> @item.TableName</td>
                                <td> @item.OldValues</td>
                                <td> @item.NewValues</td>
                                <td> @item.AffectedColumns</td>
                                <td> @item.ActionOn</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script>
        $("#logTable").DataTable();
    </script>
}