@model UserViewModel
@{
    ViewData["Title"] = "Create User";
}

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-lg-8">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create User!</h1>
                        </div>
                       
                        <form method="post" asp-action="Create">
                            <div class="form-group ">
                                <label>Full Name *</label>
                                @Html.TextBoxFor(a=>a.Name,new{@class="form-control form-control-user required",placeholder="Full Name"})
                                @Html.ValidationMessageFor(a=>a.Name,"",new{@class="text-danger"})
                            </div>

                            <div class="form-group">
                                <label>Username *</label>
                                @Html.TextBoxFor(a=>a.UserName,new{@class="form-control form-control-user required",placeholder="Username"})
                                @Html.ValidationMessageFor(a=>a.UserName,"",new{@class="text-danger"})
                            </div>

                            <div class="form-group">
                                <label>Email Address *</label>
                                @Html.TextBoxFor(a=>a.EmailAddress,new{@class="form-control form-control-user required",placeholder="Email"})
                                @Html.ValidationMessageFor(a=>a.EmailAddress,"",new{@class="text-danger"})
                            </div>

                            <div class="form-group">
                                <label>Mobile Number *</label>
                                @Html.TextBoxFor(a=>a.MobileNumber,new{@class="form-control form-control-user required",placeholder="Mobile Number"})
                                @Html.ValidationMessageFor(a=>a.MobileNumber,"",new{@class="text-danger"})
                            </div>
                            <div class="form-group">
                                <label>Password *</label>
                                @Html.TextBoxFor(a=>a.Password,new{@class="form-control form-control-user required",placeholder="Password",type="password"})
                                @Html.ValidationMessageFor(a=>a.Password,"",new{@class="text-danger"})
                            </div>
                            <div class="form-group">
                                <label>Confirm Password *</label>
                                @Html.TextBoxFor(a=>a.ConfirmPassword,new{@class="form-control form-control-user required",placeholder="Confirm Password",type="password"})
                                @Html.ValidationMessageFor(a=>a.ConfirmPassword,"",new{@class="text-danger"})
                            </div>
                            <div class="form-group">
                                <label>Roles *</label>
                                <label asp-for="Roles" class="control-label"></label>
                                @Html.ListBoxFor(a=>a.Roles,(SelectList)ViewBag.RoleList,new{@class="form-control Roles",data_val=false})
                                @Html.ValidationMessageFor(a=>a.Roles,"",new{@class="text-danger"})

                            </div>

                            <button type="submit" class="btn btn-primary">
                                create
                            </button>

                        </form>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('.Roles').select2({
                placeholder: 'Select an option'
            });
        })
    </script>
}