@model UserViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Register - CommonMenu</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">

    <!--Stylesheet-->
    <link href="~/css/register.css" rel="stylesheet" />
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" asp-asp-area="Account" asp-asp-controller="Account" asp-action="Register">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h3>Common World</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group ">
                    <label>Full Name *</label>
                    @Html.TextBoxFor(a=>a.Name,new{@class="form-control form-control-user required",placeholder="Full Name"})
                    @Html.ValidationMessageFor(a=>a.Name,"",new{@class="text-danger"})
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Username *</label>
                    @Html.TextBoxFor(a=>a.UserName,new{@class="form-control form-control-user required",placeholder="Username"})
                    @Html.ValidationMessageFor(a=>a.UserName,"",new{@class="text-danger"})
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Email Address *</label>
                    @Html.TextBoxFor(a=>a.EmailAddress,new{@class="form-control form-control-user required",placeholder="Email"})
                    @Html.ValidationMessageFor(a=>a.EmailAddress,"",new{@class="text-danger"})
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Mobile Number *</label>
                    @Html.TextBoxFor(a=>a.MobileNumber,new{@class="form-control form-control-user required",placeholder="Mobile Number"})
                    @Html.ValidationMessageFor(a=>a.MobileNumber,"",new{@class="text-danger"})
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Password *</label>
                    @Html.TextBoxFor(a=>a.Password,new{@class="form-control form-control-user required",placeholder="Password",type="password"})
                    @Html.ValidationMessageFor(a=>a.Password,"",new{@class="text-danger"})
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label>Confirm Password *</label>
                    @Html.TextBoxFor(a=>a.ConfirmPassword,new{@class="form-control form-control-user required",placeholder="Confirm Password",type="password"})
                    @Html.ValidationMessageFor(a=>a.ConfirmPassword,"",new{@class="text-danger"})
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <button type="submit" class="btn btn-success">
                    Register
                </button>
            </div>
            <div class="col-md-9 col-sm-6" style="margin-top:25px;">
                <p>Already have an account? <a asp-action="LogIn" asp-area="Account" asp-controller="Account" style="color:#7793FF;">Sign In</a></p>

            </div>

        </div>

    </form>
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
    @await Component.InvokeAsync("NToastNotify")
</body>


</html>
